@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Black.otf") format("opentype");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
}
body.hidden {
  overflow: hidden;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "SF Pro Display", sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #000;
  font-size: 1rem;
  background-color: transparent;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
  word-break: break-word;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: inherit;
  color: #B80000;
}

.link-decoration:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

p {
  line-height: 24px;
  word-break: break-word;
}

/*===========================================================================*/
.font-arial {
  font-family: "Arial", sans-serif;
}

/*===========================================================================*/
.w-1140 {
  max-width: 1140px;
  margin: 0 auto;
}

.w-1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

/*=================================================================*/
.d-3xl-none {
  display: none;
}

.d-3xl-block {
  display: block;
}

.d-3xl-flex {
  display: flex;
}

.d-3xl-grid {
  display: grid;
}

.d-3xl-inline {
  display: inline;
}

.d-3xl-inline-block {
  display: inline-block;
}

.d-3xl-inline-flex {
  display: inline-flex;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 35px;
  background-color: #b80000;
  border: 1px solid #b80000;
  color: #fff;
  outline: none;
  border-radius: 999px;
  font-weight: normal;
}
.btn:hover {
  background-color: #fff;
  color: #b80000;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 3.75rem;
}

/*=================================================================*/
.ratio-2x3 {
  position: relative;
  display: block;
  padding-bottom: 150%;
}

.ratio-5x7 {
  position: relative;
  display: block;
  padding-bottom: 140%;
}

.ratio-6x7 {
  position: relative;
  display: block;
  padding-bottom: 115%;
}

.ratio-1x1,
.image-wrapper-full {
  position: relative;
  display: block;
  padding-bottom: 100%;
}

.ratio-4x3 {
  position: relative;
  display: block;
  padding-bottom: 75%;
}

.ratio-3x2 {
  position: relative;
  display: block;
  padding-bottom: 67%;
}

.ratio-16x9,
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
}

.ratio-21x9 {
  position: relative;
  display: block;
  padding-bottom: 42.8571428571%;
}

.ratio-2x12 {
  position: relative;
  display: block;
  padding-bottom: 16.67%;
}

.ratio-2x3 img,
.ratio-5x7 img,
.ratio-6x7 img,
.ratio-4x3 img,
.ratio-3x2 img,
.ratio-1x1 img,
.ratio-16x9 img,
.ratio-21x9 img,
.ratio-2x12 img,
.image-wrapper img,
.image-wrapper-full img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-55 {
  color: #555;
}

.text-gray-66 {
  color: #666;
}

.text-gray-73 {
  color: #737373;
}

.text-gray-82 {
  color: #828282;
}

.text-red-b80 {
  color: #b80000;
}

.text-red-f0 {
  color: #F05143;
}

.text-yellow-e5 {
  color: #E5B32E;
}

.text-blue-439 {
  color: #439BDC;
}

.text-cyan-1e {
  color: #1EAF8A;
}

.text-green-4d {
  color: #4DB250;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white-f5 {
  background-color: #F5F5F5;
}

.bg-white-f540 {
  background-color: #F5F5F540;
}

.bg-white-f6 {
  background-color: #F6f6f6;
}

.bg-white-f1 {
  background-color: #f1f1f1;
}

.bg-white-eb {
  background-color: #EBEBEA;
}

.bg-red-b80 {
  background-color: #B80000;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-30 {
  padding: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-30 {
  margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

/*=================================================================*/
.ml-3xl-n15 {
  margin-left: -15px;
}

.mr-3xl-n15 {
  margin-right: -15px;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-1 {
  line-height: 1;
}

.lh-24 {
  line-height: 24px;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

.lh-160 {
  line-height: 160%;
}

/*=================================================================*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*=================================================================*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

/*=================================================================*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/*=================================================================*/
.gap-8 {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.gap-10 {
  grid-gap: 0.625rem;
  gap: 0.625rem;
}

.gap-16 {
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
  gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.gap-30 {
  grid-gap: 1.875rem;
  gap: 1.875rem;
}

.gap-40 {
  grid-gap: 2.5rem;
  gap: 2.5rem;
}

/*=================================================================*/
.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

/*=================================================================*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*=================================================================*/
.transition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

/*=================================================================*/
.pointer {
  cursor: pointer;
}

/*=================================================================*/
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.shadow {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
}

.w-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.over-hidden {
  overflow: hidden;
}

/*=================================================================*/
.ml-3xl--15 {
  margin-left: -15px;
}

.mr-3xl--15 {
  margin-right: -15px;
}

.ml-3xl--10 {
  margin-left: -10px;
}

.mr-3xl--10 {
  margin-right: -10px;
}

/*=================================================================*/
.scale-107 {
  transition: transform 0.3s;
}
.scale-107:hover {
  transform: scale(1.07, 1.07);
}

/*=================================================================*/
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
  border-radius: 999px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 999px;
}

/*=================================================================*/
.inset-0 {
  inset: 0;
}

/*=================================================================*/
.icon-10 img {
  width: 10px;
  height: auto;
}

.icon-12 img {
  width: 12px;
  height: auto;
}

.icon-16 img {
  width: 16px;
  height: auto;
}

.icon-20 img {
  width: 20px;
  height: auto;
}

.icon-24 img {
  width: 24px;
  height: auto;
}

.icon-30 img {
  width: 30px;
  height: auto;
}

/*=================================================================*/
.color-inherit:hover {
  color: inherit;
}

/*=================================================================*/
.border-t-00 {
  border-top: 1px solid #000;
}

.border-b-00 {
  border-bottom: 1px solid #000;
}

.border-b-w {
  border-bottom: 1px solid #fff;
}

.border-t-e5 {
  border-top: 1px solid #e5e5e5;
}

.border-r-e5 {
  border-right: 1px solid #e5e5e5;
}

.border-b-e5 {
  border-bottom: 1px solid #e5e5e5;
}

.border-e5 {
  border: 1px solid #e5e5e5;
}

.border-b-73 {
  border-bottom: 1px solid #737373;
}

.border-73 {
  border: 1px solid #737373;
}

.border-b-8030 {
  border-bottom: 1px solid #80808030;
}

.border-99 {
  border: 1px solid #999;
}

/*=================================================================*/
.round-3xl-6 {
  border-radius: 6px;
}

.round-3xl-10 {
  border-radius: 10px;
}

/*=================================================================*/
.slider-auto .swiper-slide {
  width: auto !important;
}

/*=================================================================*/
.article-link-decoration a {
  color: #B80000;
  text-decoration: underline;
}

.article-img-inline-block img {
  display: inline-block;
  vertical-align: bottom;
}

.last-child-empty-border-b .article:first-child {
  padding-top: 0;
}
.last-child-empty-border-b .article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.article-first-p0 .article:first-child {
  padding-top: 0;
}

.article-content-absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(180deg, transparent, #000);
}

.article-title-absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(180deg, transparent, #000);
}

/*=================================================================*/
.max-h-3xl-120 {
  max-height: 120px;
  overflow: auto;
}

.social {
  flex-wrap: wrap;
}
.social-item {
  padding: 3px;
}
.social-link {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid #ffffff50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:hover {
  background-color: #73737320;
}
.social-icon {
  max-height: 15px;
  width: auto;
}

.social-footer .social-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #737373;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-footer .social-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.social-footer .social-link img {
  height: 14px;
  width: auto;
}

.header {
  z-index: 999;
}
.header.sticky .header-desk-menu,
.header.sticky .header-mb-bot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.header-desk-center {
  position: relative;
}
.header-desk-menu .navbar-item {
  position: relative;
}
.header-desk-menu .navbar-item.active .navbar-item__heading {
  color: #993333;
}
.header-desk-menu .navbar-item__text {
  padding: 10px 16px;
  font-size: 14px;
  position: relative;
}
.header-desk-menu .navbar-item__text::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #B80000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header-desk-menu .navbar-item:hover .navbar-item__text {
  color: #993333;
}
.header-desk-menu .navbar-item:hover .navbar-item__icon {
  transform: rotate(180deg);
  filter: invert(28%) sepia(12%) saturate(4681%) hue-rotate(324deg) brightness(96%) contrast(90%);
}
.header-desk-menu .navbar-item:hover .navbar-dropdown {
  display: block;
}
.header-desk-menu .navbar-item:last-child .navbar-dropdown {
  right: 0;
  left: auto;
}
.header-desk-menu .navbar-item:last-child .navbar-item__text {
  padding-right: 0;
}
.header-desk-menu .navbar-item:last-child .navbar-item__text::before {
  content: none;
}
.header-desk-menu .navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 200px;
  max-height: 400px;
  overflow: auto;
  background-color: #F5F5F5;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-top: 2px solid #993333;
  display: none;
}
.header-desk-menu .navbar-dropdown__item {
  color: #0F1143;
  text-transform: uppercase;
}
.header-desk-menu .navbar-dropdown__item:hover a {
  color: #B80000;
}
.header-desk-menu .navbar-dropdown__link {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-desk .navbar-more {
  padding: 8px;
  cursor: pointer;
}
.header-desk .navbar-more__list {
  grid-template-columns: repeat(6, 1fr);
}
.header-desk .navbar-more__icon .bar {
  display: block;
}
.header-desk .navbar-more__icon .bar img {
  width: 20px;
  height: auto;
}
.header-desk .navbar-more__icon .close {
  display: none;
  width: 20px;
  height: auto;
}
.header-desk .navbar-more__icon.active .bar {
  display: none;
}
.header-desk .navbar-more__icon.active .close {
  display: block;
}
.header-desk .navbar-more__content {
  border-top: 2px solid #993333;
  background: #fff;
  position: absolute;
  height: 100vh;
  z-index: 50;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.header-desk .navbar-more__content.active {
  display: block;
}
.header-desk .navbar-more__inner {
  padding: 20px 0;
  max-height: calc(100vh - 200px);
  overflow: auto;
}
.header-desk .navbar-more__title {
  font-weight: bold;
  font-size: 14px;
  color: #993333;
  text-transform: uppercase;
}
.header-desk .navbar-more__title a {
  display: block;
  padding: 10px;
}
.header-desk .navbar-more__children {
  font-size: 14px;
}
.header-desk .navbar-more__children a {
  display: block;
  padding: 5px 10px;
}
.header-mb {
  position: relative;
}
.header-mb::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 2px;
}
.header-mb::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 5px;
}
.header-mb .login-icon {
  border-color: #737373;
}

.wether {
  position: relative;
}
.wether-selected {
  padding-left: 10px;
}
.wether.active .wether-list {
  display: block;
}
.wether.active .wether-icon-down {
  transform: rotate(180deg);
}
.wether-list {
  position: absolute;
  border-top: 2px solid #993333;
  background: #fff;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index: 50;
  top: 35px;
  left: 0;
  right: 0;
  display: none;
}
.wether-list .wether-item {
  cursor: pointer;
}
.wether-list .wether-item:hover {
  background-color: #dcd9d9;
}

/* login */
.login {
  /* logged */
}
.login-icon {
  border: 1px solid #ffffff50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.login-icon:hover {
  background-color: #73737320;
}
.login .not-logged .content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 385px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 5px solid #B80000;
  z-index: 100;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 100px);
  overflow: auto;
}
.login .not-logged .content.active {
  display: flex;
}
.login .not-logged .content::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 999px;
  display: none;
}
.login .not-logged .content::-webkit-scrollbar-track {
  background: #D9D9D9;
}
.login .not-logged .content::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}
.login .not-logged .content::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;
}
.login .not-logged .content-top__logo img {
  height: 40px;
  width: auto;
}
.login .not-logged .content-top__close img {
  width: 24px;
  height: auto;
}
.login .not-logged .content-main__login,
.login .not-logged .content-main__register,
.login .not-logged .content-main__forgot {
  display: none;
}
.login .not-logged .content-main__login.active,
.login .not-logged .content-main__register.active,
.login .not-logged .content-main__forgot.active {
  display: block;
}
.login .not-logged .content-main .heading-1,
.login .not-logged .content-main .heading-2 {
  padding: 0 10px 16px;
  position: relative;
  cursor: pointer;
}
.login .not-logged .content-main .heading-1.active,
.login .not-logged .content-main .heading-2.active {
  color: #B80000;
  font-weight: bold;
}
.login .not-logged .content-main .heading-1.active::before,
.login .not-logged .content-main .heading-2.active::before {
  content: "";
  position: absolute;
  top: 100%;
  width: calc(100% - 20px);
  left: 50%;
  height: 1px;
  transform: translateX(-50%);
  background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
}
.login .form-input {
  height: 46px;
  width: 100%;
  border: 1px solid #D3D9EC;
  border-radius: 3px;
  padding: 12px 15px;
  font-size: 15px;
  color: #444;
}
.login .form-input:focus {
  border-color: #0084FF;
}
.login .mess-error {
  font-size: 16px;
  font-family: "arial";
  color: #A51B38;
  margin-top: 10px;
}
.login .form-submit {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 41px;
  width: 100%;
  background-color: #B80000;
}
.login .form-submit:hover {
  background-color: #960505;
}
.login .btn-forgot {
  height: 41px;
  width: 100%;
  background-color: transparent;
  color: #A51B38;
  font-size: 16px;
  font-family: "arial";
}
.login .btn-forgot:hover {
  text-decoration: underline;
}
.login .logged {
  cursor: pointer;
}
.login .logged-heading .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 999px;
}
.login .logged-content {
  background-color: #fff;
  border: 1px solid #DBE0EB;
  right: 0;
  top: 100%;
  min-width: 160px;
  padding: 10px 0;
  margin-top: 12px;
  z-index: 100;
  display: none;
}
.login .logged .dropdownContent.active {
  display: block;
}
.login .logged-link {
  padding: 10px 20px;
  display: block;
}
.login .logged .log-out {
  padding: 10px 20px;
  display: block;
}
.login .logged .log-out:hover {
  color: #FF5858;
}

/* end login */
.search-desk {
  width: 100%;
  width: 175px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.search-desk form {
  border: 1px solid #ffffff50;
  border-radius: 10px;
  overflow: hidden;
}
.search-desk .search-input {
  height: 1.875rem;
  padding: 0.5rem 0.625rem 0.5rem 1.75rem;
  background-color: transparent;
  color: #fff;
}
.search-desk .search-input::placeholder {
  color: #fff;
}
.search-desk .search-btn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 30px;
  background-color: #B80000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exchange-rate__item {
  position: relative;
}
.exchange-rate__item .exchange-rate__content {
  border-left: 1px solid #73737320;
}
.exchange-rate__stock .down-trend {
  color: #F05143;
}
.exchange-rate__stock .up-trend {
  color: #4DB250;
}

.sub-menu .icon-bar {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu .icon-bar img {
  width: 20px;
  height: auto;
}
.sub-menu__content {
  position: fixed;
  left: 0;
  top: 0;
  width: min(100%, 500px);
  height: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2), 0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14), 0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.sub-menu__close {
  width: 38px;
  height: 38px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.sub-menu__container {
  height: calc(100% - 100px);
  overflow: auto;
}
.sub-menu__item.active .heading-sub__arrow img {
  color: #fff;
  transform: rotate(180deg);
}
.sub-menu.active .sub-menu__content {
  transform: translate(0);
}
.sub-menu.active .overlay {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.sub-menu .heading-sub {
  border-bottom: 1px dotted #CECECE;
}
.sub-menu .heading-sub__arrow {
  flex-shrink: 0;
  padding: 8px;
}
.sub-menu .heading-sub.active .heading-sub__arrow {
  transform: rotate(180deg);
}
.sub-menu .list-sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.sub-menu .item-sub__link {
  display: flex;
  padding: 10px 15px 5px 15px;
}
.sub-menu .item-sub:last-child .item-sub__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.search-mb__icon {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid #737373;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.search-mb__icon img {
  width: 12px;
  height: auto;
}
.search-mb .header-search-mb__form {
  background-color: #fff;
  height: 60px;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}
.search-mb .header-search-mb__form.active {
  top: 42px;
  display: block;
}
.search-mb .header-search-input {
  padding-right: 3.5rem;
}
.search-mb .header-search-input::placeholder {
  color: #333;
}
.search-mb .header-search-btn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  will-change: opacity;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.logo img {
  height: 60px;
  width: auto;
}

.navbar-menu-mb {
  background-color: #fff;
}
.navbar-menu-mb .navbar-mb {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.navbar-menu-mb .navbar-mb::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar-menu-mb .navbar-mb::-webkit-scrollbar-track {
  background: transparent;
}
.navbar-menu-mb .navbar-mb::-webkit-scrollbar-thumb {
  background: transparent;
}
.navbar-menu-mb .navbar-mb::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.navbar-menu-mb .navbar-mb .navbar-item {
  position: relative;
  margin-right: 30px;
}
.navbar-menu-mb .navbar-mb .navbar-item::before {
  content: "|";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  color: #bdbdbd;
  font-size: 15px;
}
.navbar-menu-mb .navbar-mb .navbar-item:first-child {
  color: #b80000;
  font-weight: bold;
}
.navbar-menu-mb .navbar-mb .navbar-item:first-child::before {
  content: "‣";
  font-size: 24px;
  color: #000;
  right: -20px;
  line-height: 1;
}
.navbar-menu-mb .navbar-mb .navbar-item:last-child::before {
  content: none;
}
.navbar-menu-mb .navbar-scroll-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background: linear-gradient(270deg, #f5f5f5 28.12%, #ffffff50 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-primary {
  display: flex;
}
.block-primary__left {
  max-width: calc(100% - 300px);
  width: 100%;
}
.block-primary__right {
  max-width: 300px;
  width: 100%;
}

.ads-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-center img {
  margin: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 0;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-next, .swiper-button-prev {
  width: 26px;
  height: 26px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #868686;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 16px;
}

.pagi-primary {
  position: relative;
}
.pagi-primary .swiper-pagination {
  top: 18px;
  bottom: auto;
  left: -20px;
  text-align: right;
}
.pagi-primary .swiper-pagination-bullet {
  width: 12px;
  height: 3px;
  border-radius: 0;
}
.pagi-primary .swiper-pagination-bullet-active {
  background: #b80000;
}
.pagi-primary .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.pagi-primary .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
.pagi-primary--fixTop .swiper-pagination {
  top: 0;
}

.pagi-secondary {
  position: relative;
}
.pagi-secondary .swiper-pagination {
  top: 0;
  bottom: auto;
  left: 0;
  text-align: right;
}
.pagi-secondary .swiper-pagination-bullet {
  width: 12px;
  height: 3px;
  border-radius: 0;
}
.pagi-secondary .swiper-pagination-bullet-active {
  background: #b80000;
}
.pagi-secondary .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.pagi-secondary .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}
.pagi-secondary--fixTop .swiper-pagination {
  top: 0;
}

.author-primary .avatar {
  width: 60px;
}

.author-secondary .avatar {
  width: 100px;
}

.author-tertiary .avatar {
  width: 70px;
}

.author-quaternary .avatar {
  width: 140px;
}

.consumer-questions__heading .question-mark-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.consumer-questions__here {
  background-color: #F4F4F4;
}
.consumer-questions__here .avatar {
  width: 44px;
}
.consumer-questions__here .questions-input {
  background-color: #fff;
  padding: 12px;
  font-size: 14px;
}
.consumer-questions__here .questions-btn {
  margin-left: 8px;
  height: 40px;
}

.breadcrumb-primary__slide {
  max-width: 1140px;
}
.breadcrumb-primary .swiper-slide {
  width: auto !important;
  margin-right: 20px !important;
}
.breadcrumb-primary .swiper-slide:last-child .breadcrumb-primary__item::before {
  content: none;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-rtl .swiper-button-prev {
  right: 15px;
  left: auto;
  margin-top: auto;
  transform: translateY(-50%);
}
.breadcrumb-primary .swiper-button-prev,
.breadcrumb-primary .swiper-rtl .swiper-button-next {
  left: auto;
  right: 50px;
  margin-top: auto;
  transform: translateY(-50%);
}
.breadcrumb-primary .swiper-button-next:after,
.breadcrumb-primary .swiper-button-prev:after {
  font-size: 12px;
}
.breadcrumb-primary__item {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 4px 10px;
  width: auto;
  display: inline-block;
  position: relative;
}
.breadcrumb-primary__item::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  color: #bdbdbd;
  font-size: 15px;
}
.breadcrumb-primary__link {
  color: #737373;
}

.breadcrumb-secondary__list {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.breadcrumb-secondary__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.breadcrumb-secondary__list::-webkit-scrollbar-track {
  background: transparent;
}
.breadcrumb-secondary__list::-webkit-scrollbar-thumb {
  background: transparent;
}
.breadcrumb-secondary__list::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.breadcrumb-secondary__item {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 4px 10px;
  margin-right: 20px;
  width: auto;
  display: inline-block;
  position: relative;
}
.breadcrumb-secondary__item::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  color: #bdbdbd;
  font-size: 10px;
}
.breadcrumb-secondary__item:last-child {
  margin-right: 0;
}
.breadcrumb-secondary__item:last-child::before {
  content: none;
}
.breadcrumb-secondary__link {
  color: #737373;
}

.breadcrumb-tertiary__container .heading-slide {
  position: relative;
  color: #181716;
}
.breadcrumb-tertiary__container .heading-slide::after {
  content: "|";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  color: #bdbdbd;
  font-size: 15px;
}

.heading-primary {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
.heading-primary .heading-one {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  border-left: 3px solid #000;
  color: #b80000;
  padding-left: 6px;
  padding-right: 15px;
}
.heading-primary .heading-one::before {
  position: absolute;
  content: "❯";
  right: 0;
  top: 50%;
  color: #707070;
  transform: translateY(-50%);
  font-size: 13px;
}
.heading-primary--not-border .heading-one {
  border-left: 0;
  padding-left: 0;
}

.heading-slide {
  max-width: calc(100% - 140px);
  color: #666;
  font-weight: normal;
  font-size: 13px;
}
.heading-slide .swiper-slide {
  width: auto !important;
  margin-right: 20px !important;
}
.heading-slide .swiper-slide::before {
  content: "|";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -11px;
  color: #bdbdbd;
  font-size: 15px;
}
.heading-slide .swiper-slide:last-child::before {
  content: none;
}

.breaking-news__logo {
  position: absolute;
  right: 0;
  bottom: 0;
}
.breaking-news__heading {
  overflow: visible;
}
.breaking-news__heading .left .icon img {
  width: 30px;
  height: auto;
}
.breaking-news__heading .left .heading-one {
  border-left: 0;
}
.breaking-news__select {
  position: relative;
}
.breaking-news__select:hover .navbar-item__text {
  color: #993333;
}
.breaking-news__select:hover .icon-down {
  transform: rotate(180deg);
}
.breaking-news__select:hover .navbar-dropdown {
  display: block;
}
.breaking-news__select .navbar-dropdown {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  min-width: 200px;
  max-height: 400px;
  overflow: auto;
  background-color: #F5F5F5;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-top: 2px solid #993333;
  display: none;
}
.breaking-news__select .navbar-dropdown__item {
  color: #0F1143;
}
.breaking-news__select .navbar-dropdown__item:hover a {
  color: #B80000;
}
.breaking-news__select .navbar-dropdown__link {
  display: flex;
  align-items: center;
  padding: 10px;
}
.breaking-news__item:first-child {
  padding-top: 0;
}
.breaking-news__item:last-child {
  border-bottom: none;
}

.play-small {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-small img {
  width: 20px;
  height: auto;
}

.play-medium {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-medium img {
  width: 30px;
  height: auto;
}

.play-rounded-small-red {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D4343C50;
  border-radius: 999px;
}
.play-rounded-small-red img {
  width: 8px;
  height: auto;
}

.camera-small {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgba(234, 212, 212, 0.5);
  left: 10px;
  bottom: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera-small img {
  width: 24px;
  height: auto;
}

.box-three {
  max-width: 270px;
  width: 100%;
}

.section-primary {
  background-image: url("../images/bg-1.png");
  background-repeat: no-repeat;
}
.section-primary .logo-absolute {
  left: -180px;
  top: 0;
}
.section-primary__top .left {
  border-right: 1px solid #e5e5e5;
}
.section-primary__top .right {
  width: 380px;
}

.section-secondary__container {
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}
.section-secondary__left .breadcrumb-primary {
  position: relative;
  padding-right: 90px;
}

.section-tertiary__container {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.section-tertiary__left {
  max-width: calc(100% - 300px);
  width: 100%;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #e5e5e5;
}
.section-tertiary__right {
  max-width: 300px;
  width: 100%;
}

.section-quinary__top-content {
  display: grid;
  grid-template-columns: 324px 1fr;
  grid-gap: 24px;
}
.section-quinary__top-left {
  padding-right: 24px;
  border-right: 1px solid #e0e0e0;
}
.section-quinary__top-left .article {
  padding: 18px 0;
  border-bottom: 1px solid #e0e0e0;
}
.section-quinary__top-left .article:first-child {
  padding-top: 0;
}
.section-quinary__top-left .article:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.section-quinary__bot-item {
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.section-quinary__bot-item:nth-child(4n) {
  border-right: none;
}

.section-senary__right .article {
  padding: 0 15px 20px;
}
.section-senary__right .article:nth-child(odd) {
  padding-left: 0;
}
.section-senary__right .article:nth-child(even) {
  padding-right: 0;
  border-right: none;
}
.section-senary__right .article:last-child {
  padding-bottom: 0;
}
.section-senary__right .article:nth-last-child(2) {
  padding-bottom: 0;
}

.section-septenary__left {
  max-width: 550px;
  width: 100%;
}
.section-septenary__right {
  max-width: 550px;
  width: 100%;
}

.section-octonary {
  background-image: url("../images/bg-2.png");
  background-repeat: no-repeat;
}
.section-octonary__center .box-fourth {
  padding-left: 0;
  border-right: 1px solid #80808030;
}
.section-octonary__center .box-fifth {
  padding-right: 0;
}

.section-nonary__content .article:last-child {
  border-right: none;
}

/*================================================================ mobile*/
.article-gap-10 .article:nth-child(odd) {
  padding-right: 5px;
}
.article-gap-10 .article:nth-child(even) {
  padding-left: 5px;
}

.section-primary-mb__container .article-smalls .article:nth-child(odd) {
  padding-right: 5px;
}
.section-primary-mb__container .article-smalls .article:nth-child(even) {
  padding-left: 5px;
}

.pagination {
  flex-wrap: wrap;
}
.pagination-item {
  margin: 4px;
}
.pagination-item.active .pagination-link {
  background-color: #868686;
  color: #fff;
}
.pagination-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  transition: all 0.2s;
}
.pagination-link:hover {
  background-color: #868686;
  color: #fff;
}

.pane-item {
  display: none;
}
.pane-item.active {
  display: block;
}

.ads-right img {
  margin: auto;
}

.share-detail__container {
  position: sticky;
  top: 20%;
}
.share-detail__list {
  border: 1px solid #cecece;
  border-radius: 999px;
  padding: 8px;
  background-color: #fff;
}
.share-detail__item {
  margin-bottom: 10px;
  text-align: center;
}
.share-detail__link {
  width: 33px;
  height: 33px;
  border-radius: 999px;
  border: 1px solid #993333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-detail__link img {
  height: 18px;
  width: auto;
}
.share-detail--cmt {
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
}

.detail-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.detail-sapo {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detail-content figure {
  margin-bottom: 1.25rem;
}
.detail-content figure img {
  width: 100%;
  height: auto !important;
  margin: auto;
  border-radius: 25px;
}
.detail-content figure figcaption {
  background: #fff;
  padding: 0.625rem 0.9375rem;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.25rem;
  color: #555;
  text-align: center;
  font-style: italic;
}
.detail-content figure figcaption em {
  font-style: italic;
}
.detail-content figure h2,
.detail-content figure h3,
.detail-content figure h4,
.detail-content figure h5,
.detail-content figure h6,
.detail-content figure p {
  font-weight: normal !important;
  font-size: 14px !important;
  margin: 0 auto;
  line-height: 1.3 !important;
  color: #555;
}
.detail-content p a {
  color: #ff9222;
  font-style: italic;
}
.detail-content p a:hover {
  text-decoration: underline;
}
.detail-content p, .detail-content li {
  font-size: 17px;
  margin-bottom: 18px;
  line-height: 160%;
  word-break: break-word;
  color: #62605c;
}
.detail-content ul {
  padding-left: 30px;
}
.detail-content ul li {
  list-style: disc;
}
.detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5, .detail-content h6 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #181E23;
}
.detail-content h2 {
  font-size: 24px;
}
.detail-content h3 {
  font-size: 22px;
}
.detail-content h4 {
  font-size: 20px;
}
.detail-content h5 {
  font-size: 18px;
}
.detail-content h6 {
  font-size: 16px;
}
.detail-content blockquote {
  background: #993333;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  z-index: 5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.detail-content blockquote p {
  color: #fff;
  font-size: 18px;
}
.detail-content blockquote p:last-child {
  margin-bottom: 0;
}
.detail-content blockquote h2, .detail-content blockquote h3, .detail-content blockquote h4, .detail-content blockquote h5, .detail-content blockquote h6 {
  color: #fff;
}
.detail-content blockquote a {
  color: #ff9222;
}
.detail-content table {
  width: 100%;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
}
.detail-content table tr {
  border-bottom: 1px solid;
}
.detail-content table th {
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid;
}
.detail-content table th strong {
  color: #993333;
}
.detail-content table td {
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid;
  text-align: center;
}
.detail-content table td strong {
  color: #993333;
}

.print-box .detail-content {
  padding-left: 0;
}
.print-box .detail-content p {
  text-align: justify;
  word-break: break-word;
}
.print-box .print-btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #9b9b9b;
}
.print-box .print-btn:hover {
  background-color: #555;
}

.logo-print img {
  width: 230px;
  height: auto;
}

@media print {
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin-left: 20mm;
    visibility: hidden;
  }

  .print-box__container {
    visibility: visible;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    width: calc(100% - 20mm);
    max-width: 100%;
    page-break-inside: avoid;
    overflow: visible;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .print-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .detail-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .detail-content, .expNoEdit, .expEdit {
    page-break-inside: avoid;
  }

  h1, h2, p, figure {
    page-break-inside: avoid;
  }
}
#back-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: #0072BB;
  border-radius: 999px;
  border: 1px solid #0072BB;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  z-index: 1000;
}
#back-top img {
  width: 16px;
  height: auto;
}

.footer-action {
  position: fixed;
  right: 30px;
  bottom: 72px;
  z-index: 1000;
}
.footer-action__link {
  width: 40px;
  height: 40px;
  background: #0072BB;
  border-radius: 999px;
  border: 1px solid #0072BB;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer-action__link:hover {
  background-color: #025e97;
}
.footer-action__link img {
  width: 20px;
  height: auto;
}

.logo-footer img {
  height: 50px;
  width: auto;
}

.search-footer {
  width: 100%;
  width: 175px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
  position: relative;
}
.search-footer .search-input {
  height: 1.875rem;
  border: 1px solid #d6d6d6;
  border-radius: 999px;
  padding: 0.5rem 0.625rem 0.5rem 1.75rem;
}
.search-footer .search-input::placeholder {
  color: #333;
}
.search-footer .search-btn {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
}

.footer {
  background-image: linear-gradient(180deg, #fff, #FFF8F1);
}
.footer-content .btn {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  padding: 5px 17px;
}
.footer-content .register-email {
  max-width: 70%;
}
.footer-content .register-email__input {
  background-color: #f7f7f7;
}
.footer-content .register-email__group {
  position: relative;
}
.footer-content .register-email__icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content .register-email__input {
  border: 1px solid #e5e5e5;
  height: 1.875rem;
  border-radius: 999px;
  width: 100%;
  padding: 8px 80px 8px 28px;
  font-size: 0.875rem;
}
.footer-content .register-email__input:focus {
  border-color: #152764;
}
.footer-content .register-email__btn {
  background-color: #b80000;
  color: #fff;
  border-radius: 999px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  cursor: pointer;
}

@media (max-width: 1536px) {
  .d-2xl-none {
    display: none;
  }

  .d-2xl-block {
    display: block;
  }

  .d-2xl-flex {
    display: flex;
  }

  .d-2xl-grid {
    display: grid;
  }
}
@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  .logo img {
    height: 36px;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  .box-three {
    max-width: 235px;
  }

  .section-septenary__left {
    max-width: 475px;
  }
  .section-septenary__right {
    max-width: 475px;
  }
}
@media (max-width: 992px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  .w-md-500 {
    max-width: 500px;
    margin: auto;
  }

  .max-h-md-300 {
    max-height: 300px;
    overflow: auto;
  }

  .block-primary {
    display: block;
  }
  .block-primary__left {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
  .block-primary__right {
    max-width: 100%;
    width: 100%;
  }

  .detail-content {
    padding-left: 0;
  }

  .footer-action {
    right: 20px;
  }

  #back-top {
    right: 20px;
  }

  .footer-content .left {
    margin-bottom: 24px;
  }
  .footer-content .center {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 32px;
    height: 32px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 999px;
    background-color: #99333370;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px;
  }

  .detail-title {
    font-size: 24px;
  }

  .detail-content figure {
    margin-bottom: 15px;
  }
  .detail-content figure figcaption {
    padding: 8px 10px;
    font-size: 14px;
  }
  .detail-content figure img {
    border-radius: 15px;
  }
  .detail-content p, .detail-content li {
    font-size: 16px;
  }
  .detail-content h2 {
    font-size: 20px;
  }
  .detail-content h3 {
    font-size: 18px;
  }
  .detail-content h4 {
    font-size: 16px;
  }
  .detail-content h5 {
    font-size: 16px;
  }
  .detail-content h6 {
    font-size: 16px;
  }
  .detail-content blockquote {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .detail-content blockquote p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .d-none {
    display: none;
  }

  .d-block {
    display: block;
  }

  .d-flex {
    display: flex;
  }

  .d-grid {
    display: grid;
  }
}

/*# sourceMappingURL=style.css.map */
