
.pagination {
    flex-wrap: wrap;
    &-item {
        margin: 4px;
       
        &.active {
            .pagination-link {
                background-color: #868686;
                color: #fff;
            }
        }
    }
    &-link {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        transition: all 0.2s;

        &:hover {
            background-color: #868686;
            color: #fff;
        }
    }

    &--bg-white {
        .pagination-link {
            background-color: #fff;
        }
    }
}

.pane-item {
    display: none;
    
    &.active {
        display: block;
    }
}


.ads-right {
    img {
        margin: auto;
    }
}

.colspan-1 {
    grid-column: span 1;
}
.colspan-2 {
    grid-column: span 2;

    .ratio-2x3 {
        padding-bottom: 74.5%;
    }
}

// artist
.artist-block {
    &__filter {
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            background-image: url("../images/svg/triangle-down-gray.svg");
            background-repeat: no-repeat;
            background-position-x: 94%;
            background-position-y: 13px;
            padding-right: 27px !important;
            font-family: "Arial";
        }
        .select {
            gap: 12px;
        }
        .select-item {
            background-color: #fff;
            cursor: pointer;
        }
        .select-item,
        .select-btn {
            height: 38px;
            padding: 6px 24px;
            border-radius: 4px;
    
            background-position-x: 96%;
            background-position-y: 16px;
        }
        
    }
}

.plceholder-black {
    &::placeholder {
        color: #000;
    }
}

