
.share-detail {
    &__container {
        position: sticky;
        top: 20%;
    }

    &__list {
        border: 1px solid #cecece;
        border-radius: 999px;
        padding: 8px;
        background-color: #fff;
    }

    &__item {
        margin-bottom: 10px;
        text-align: center;
    }

    &__link {
        width: 33px;
        height: 33px;
        border-radius: 999px;
        border: 1px solid #993333;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 18px;
            width: auto;
        }

    }

    &--cmt {
        border-bottom: 1px solid #cecece;
        padding-bottom: 10px;
    }
}

.detail-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}
.detail-sapo {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail-content {
    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
            border-radius: 25px;
        }
    }
    & figure figcaption {
        background: #fff;
        padding: 0.625rem 0.9375rem;
        font-size: 14px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        color: #555;
        text-align: center;
        font-style: italic;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & figure h2,
    figure h3,
    figure h4,
    figure h5,
    figure h6,
    figure p {
        font-weight: normal !important;
        font-size: 14px !important;
        margin: 0 auto;
        line-height: 1.3 !important;
        color: #555;
    }

    & p a {
        color: #ff9222;
        font-style: italic;
        
        &:hover {
            text-decoration: underline;
        }
    }
    & p,
    & li {
        font-size: 17px;
        margin-bottom: 18px;
        line-height: 160%;
        word-break: break-word;
        color: #62605c;

    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }
    &  h2,
    &  h3,
    &  h4,
    &  h5,
    &  h6 {
        font-weight: bold;
        margin-bottom: 15px;
        color: #181E23;
    }
    &  h2 {
        font-size: 24px;
    }
    &  h3 {
        font-size: 22px;
    }
    &  h4 {
        font-size: 20px;
    }
    &  h5 {
        font-size: 18px;
    }
    &  h6 {
        font-size: 16px;
    }

    & blockquote {
        background: #993333;
        border-radius: 10px;
        padding: 40px;
        position: relative;
        z-index: 5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        color: #fff;

        & p {
            color: #fff;
            font-size: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2,h3,h4,h5,h6 {
            color: #fff;
        }

        a {
            color: #ff9222;
        }
    }

    table {
        width: 100%;
        margin: 20px 0;
        background: #fff;
        overflow: hidden;
        // border: 1px solid;
        tr {
            border-bottom: 1px solid;
        }
        th {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            strong {
                color: #993333;
            }
        }
        td {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            text-align: center;
            strong {
                color: #993333;
            }
        }
    }

}


// print
.print-box {
    .detail-content {
        padding-left: 0;

        p {
            text-align: justify;
            word-break: break-word;
        }
    }
    .print-btn {
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: #9b9b9b;

        &:hover {
            background-color: #555;
        }
    }
}
.logo-print {
    img {
        width: 230px;
        height: auto;
    }
}

@media print {
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin-left: 20mm;
        visibility: hidden;
    }
    .print-box__container {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        width: calc(100% - 20mm);
        max-width: 100%;
        page-break-inside: avoid;
        overflow: visible;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .print-btn {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .detail-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .detail-content, .expNoEdit, .expEdit {
        page-break-inside: avoid;
    }
    h1, h2, p, figure {
        page-break-inside: avoid;
    }

}
