#back-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: #0072BB;
    border-radius: 999px;
    border: 1px solid #0072BB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    z-index: 1000;

    img {
        width: 16px;
        height: auto;
    }
}
.footer-action {
    position: fixed;
    right: 30px;
    bottom: 72px;
    z-index: 1000;

    &__link {
        width: 40px;
        height: 40px;
        background: #0072BB;
        border-radius: 999px;
        border: 1px solid #0072BB;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #025e97;
        }

        img {
            width: 20px;
            height: auto;
        }
    }
}

.logo-footer {
    img {
        height: 50px;
        width: auto;
    }
}
.search-footer {
    width: 100%;
    width: 175px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
    position: relative;

    & .search-input {
        height: 1.875rem;
        border: 1px solid #d6d6d6;
        border-radius: 999px;
        padding: 0.5rem 0.625rem 0.5rem 1.75rem;

        &::placeholder {
            color: #333;
        }

    }
    & .search-btn {
        position: absolute;
        top: 50%;
        left: 0.625rem;
        transform: translateY(-50%);
    }
}

.footer {
   background-image: linear-gradient(180deg, #fff, #FFF8F1);
    &-content {
        .btn {
            background-color: #f7f7f7;
            border: 1px solid #e5e5e5;
            border-radius: 999px;
            padding: 5px 17px;
        }
        .register-email {
            max-width: 70%;
            &__input {
                background-color: #f7f7f7;
            }
            &__group {
                position: relative;
            }
            &__icon {
                position: absolute;
                left: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__input {
                border: 1px solid #e5e5e5;
                height: 1.875rem;
                border-radius: 999px;
                width: 100%;
                padding: 8px 80px 8px 28px;
                font-size: 0.875rem;

                &:focus {
                    border-color: #152764;
                }
            }
            &__btn {
                background-color: #b80000;
                color: #fff;
                border-radius: 999px;
                font-weight: bold;
                padding: 0.5rem 1rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }
}
