.social {
    flex-wrap: wrap;
    &-item {
        padding: 3px;
    }
    &-link {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        background-color: transparent;
        border: 1px solid #ffffff50;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #73737320;
        }
    }

    &-icon {
        max-height: 15px;
        width: auto;
    }
}

.social-footer {
    .social-link {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #737373;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba($color: #000, $alpha: 0.1);
        }

        img {
            height: 14px;
            width: auto;
        }
    }
}
.header {
   z-index: 999;
    &.sticky {
        .header-desk-menu,
        .header-mb-bot,
        .header-desk-top--special,
        .header-mb--special {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 100;
        }
    }

    &-desk {
      &-top {
        // height: 40px;
      }
      &-center {
        position: relative;
        // &::before {
        //   content: '';
        //   width: 100%;
        //   height: 1px;
        //   background-color: #e5e5e5;
        //   position: absolute;
        //   bottom: 2px;
        // }
        // &::after {
        //   content: '';
        //   width: 100%;
        //   height: 1px;
        //   background-color: #e5e5e5;
        //   position: absolute;
        //   bottom: 5px;
        // }
      }

      &-menu {
        .navbar {
            &-item {
                position: relative;

                &.active {
                    .navbar-item__heading {
                        color: #993333;
                    }
                }

                &__text {
                    padding: 10px 16px;
                    font-size: 14px;
                    position: relative;
                    &::before {
                      content: '';
                      width: 1px;
                      height: 15px;
                      background-color: #B80000;
                      position: absolute;
                      top: 50%;
                      right: 0;
                      transform: translateY(-50%);
                    }
                }

                &:hover {
                    .navbar-item__text {
                        color: #993333;
                    }
                    .navbar-item__icon {
                        transform: rotate(180deg);
                        filter: invert(28%) sepia(12%) saturate(4681%) hue-rotate(324deg) brightness(96%) contrast(90%);
                    }
                    .navbar-dropdown {
                        display: block;
                    }
                }

                &:last-child {
                    .navbar-dropdown {
                      right: 0;
                      left: auto;
                    }

                    .navbar-item__text {
                        padding-right: 0;

                        &::before {
                          content: none;
                        }
                    }
                }
            }
            &-dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                min-width: 200px;
                max-height: 400px;
                overflow: auto;
                background-color: #F5F5F5;
                z-index: 100;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
                border-top: 2px solid #993333;
                display: none;

                &__item {
                  color: #0F1143;
                  text-transform: uppercase;
                    &:hover a{
                        color: #B80000;
                    }
                }

                &__link {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                }
            }
            
            
        }
      }

      .navbar-more {
        padding: 8px;
        cursor: pointer;
        margin-left: -8px;
        &__list {
            grid-template-columns: repeat(6,1fr);
        }
        &__icon {
            .bar {
                display: block;
                img {
                    width: 20px;
                    height: auto;
                }
            }
    
            .close {
                display: none;
                width: 20px;
                height: auto;
            }
    
            &.active {
                .bar {
                    display: none;
                }
    
                .close {
                    display: block;
                }
            }
        }
    
        &__content {
            border-top: 2px solid #993333;
            background: #fff;
            position: absolute;
            height: 100vh;
            z-index: 50;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
    
            &.active {
                display: block;
            }
        }
    
        &__inner {
            padding: 20px 0;
            max-height: calc(100vh - 200px);
            overflow: auto;
        }
    
        &__title {
            font-weight: bold;
            font-size: 14px;
            color: #993333;
            text-transform: uppercase;
            a {
                display: block;
                padding: 10px;
            }
        }
    
        &__children {
            font-size: 14px;
    
            a {
                display: block;
                padding: 5px 10px;
            }
        }
      }
    }

    &-mb {
      position: relative;
      // &::before {
      //   content: '';
      //   width: 100%;
      //   height: 1px;
      //   background-color: #e5e5e5;
      //   position: absolute;
      //   bottom: 2px;
      // }
      // &::after {
      //   content: '';
      //   width: 100%;
      //   height: 1px;
      //   background-color: #e5e5e5;
      //   position: absolute;
      //   bottom: 5px;
      // }

      .login-icon {
        border-color: #737373;
      }

      &--special {
        .login-icon {
          border-color: #ffffff50;
        }
      }
    }
}
// wether
.wether {
  position: relative;
  &-selected {
    padding-left: 10px;
  }
  
  &.active {
    .wether-list {
      display: block;
    }
    .wether-icon-down {
      transform: rotate(180deg);
    }
  }
  &-list {
      position: absolute;
      border-top: 2px solid #993333;
      background: #fff;
      position: absolute;
      width: 100%;
      max-height: 300px;
      overflow: auto;
      z-index: 50;
      top: 35px;
      left: 0;
      right: 0;
      display: none;

      .wether-item {
        cursor: pointer;
        &:hover {
          background-color: #dcd9d9;
        }
      }
  }

}

/* login */
.login {
  &-icon {
    border: 1px solid #ffffff50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: #73737320;
    }

  }
  .not-logged {
    .content {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 385px;
      width: 100%;
      height: auto;
      background-color: #fff;
      border-top: 5px solid #B80000;
      z-index: 100;
      padding: 20px;
      display: none;
      flex-direction: column;
      align-items: center;
      max-height: calc(100vh - 100px);
      overflow: auto;

      &.active {
        display: flex;
      }
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        border-radius: 999px;
        display: none;
      }
      &::-webkit-scrollbar-track {
        background: #D9D9D9;
      }
      &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #D9D9D9;
      }
    }

    .content-top__logo img {
      height: 40px;
      width: auto;
    }
    .content-top__close img {
      width: 24px;
      height: auto;
    }
    
    .content-main__login,
    .content-main__register,
    .content-main__forgot {
      display: none;
    }
    .content-main__login.active,
    .content-main__register.active,
    .content-main__forgot.active {
      display: block;
    }
    .content-main .heading-1,
    .content-main .heading-2 {
      padding: 0 10px 16px;
      position: relative;
      cursor: pointer;
    }
    .content-main .heading-1.active,
    .content-main .heading-2.active {
      // background: #FF5858;
      // background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: #B80000;
      font-weight: bold;
    }
    .content-main .heading-1.active::before,
    .content-main .heading-2.active::before {
      content: "";
      position: absolute;
      top: 100%;
      width: calc(100% - 20px);
      left: 50%;
      height: 1px;
      transform: translateX(-50%);
      background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
    }
    
  }

  .form-input {
    height: 46px;
    width: 100%;
    border: 1px solid #D3D9EC;
    border-radius: 3px;
    padding: 12px 15px;
    font-size: 15px;
    color: #444;

    &:focus {
      border-color: #0084FF;
    }
  }

  .mess-error {
    font-size: 16px;
    font-family: 'arial';
    color: #A51B38;
    margin-top: 10px;
  }
  .form-submit {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 41px;
    width: 100%;
    // background: linear-gradient(315deg, #8A26C4 0, #E62C4A 100%);
    background-color: #B80000;

    &:hover {
      // background: linear-gradient(315deg, #950de4 0, #ec072d 100%);
      background-color: #960505;
    }
  }
  .btn-forgot {
    height: 41px;
    width: 100%;
    background-color: transparent;
    color: #A51B38;
    font-size: 16px;
    font-family: 'arial';

    &:hover {
      text-decoration: underline;
    }
  }

  /* logged */
  .logged {
    cursor: pointer;

    &-heading .avatar img {
      width: 30px;
      height: 30px;
      border-radius: 999px;
    }
    &-content {
      background-color: #fff;
      border: 1px solid #DBE0EB;
      right: 0;
      top: 100%;
      min-width: 160px;
      padding: 10px 0;
      margin-top: 12px;
      z-index: 100;
      display: none;
    }
    .dropdownContent.active {
      display: block;
    }

    &-link {
      padding: 10px 20px;
      display: block;
    }
    .log-out {
      padding: 10px 20px;
      display: block;

      &:hover {
        color: #FF5858;
      }
    }
  }
  
}
/* end login */
  
// search desk
.search-desk {
  width: 100%;
  width: 175px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);

  form {
    border: 1px solid #ffffff50;
    border-radius: 10px;
    overflow: hidden;

  }

  .search-input {
    height: 1.875rem;
    padding: 0.5rem 0.625rem 0.5rem 1.75rem;
    background-color: transparent;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
    
    
  }
  .search-btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 30px;
    background-color: #B80000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

// exchange rate
.exchange-rate {
  &__item {
    position: relative;
    .exchange-rate__content {
      border-left: 1px solid #73737320;
    }
  }
  
  &__stock {
    .down-trend {
      color: #F05143;
    }
    .up-trend {
      color: #4DB250;
    }
  }
}
  
.sub-menu {
    .icon-bar {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: auto;
        }
    }
    &__content {
        position: fixed;
        left: 0;
        top: 0;
        width: min(100%, 500px);
        height: 100%;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2),
            0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14),
            0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
        transform: translateX(-100%);
        transition: all 0.2s ease;
    }

    &__close {
        width: 38px;
        height: 38px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    &__container {
        height: calc(100% - 100px);
        overflow: auto;
    }
    &__item {
        &.active .heading-sub__arrow img {
            color: #fff;
            transform: rotate(180deg);
        }
    }
    &.active &__content {
        transform: translate(0);
    }
    &.active .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
    .heading-sub {
        border-bottom: 1px dotted #CECECE;

        &__arrow {
            flex-shrink: 0;
            padding: 8px;
        }

        &.active {
          .heading-sub__arrow {
            transform: rotate(180deg);
          }
        }
    }
    .list-sub {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

    }
    .item-sub {
        &__link {
            display: flex;
            padding: 10px 15px 5px 15px;
        }
        &:last-child .item-sub__link {
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        }
    }
}

.search-mb {
    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        background-color: transparent;
        border: 1px solid #737373;
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            width: 12px;
            height: auto;
        }
    }
    .header-search-mb__form {
        background-color: #fff;
        height: 60px;
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        z-index: 2;
        display: none;
        &.active {
            top: 42px;
            display: block;
        }
    }
    .header-search-input {
        padding-right: 3.5rem;
        &::placeholder {
            color: #333;
        }
    }
    .header-search-btn {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
.overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    will-change: opacity;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}

.logo {
  img {
    height: 60px;
    width: auto;
  }
}

.navbar-menu-mb {
  background-color: #fff;
  .navbar-mb {
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    /* width */
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
  
    & .navbar-item {
      position: relative;
      margin-right: 30px;
      &::before {
        content: "|";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        color: #bdbdbd;
        font-size: 15px;
      }

      &:first-child {
        color: #b80000;
        // font-size: 13px;
        font-weight: bold;
        &::before {
          content: '\2023';
          font-size: 24px;
          color: #000;
          right: -20px;
          line-height: 1;

        }
      }
      &:last-child {
        margin-right: 10px;
        &::before {
          content: none;
        }
      }
        
    }
  }
  .navbar-scroll-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    background: linear-gradient(270deg, #f5f5f5 28.12%, #ffffff50 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// special
.logo-and-cate-special-header {
  .logo {
    img {
      height: 26px;
      width: auto;
    }
  }

  .cate-list {
    .cate-link {
      padding-left: 12px;
      margin-left: 12px;
      position: relative;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background-color: #bdbdbd;
      }
    }
  }
}